.carousel .container {
    position: relative;
    z-index: 9
}

.carousel-control {
    margin-top: 40px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    z-index: 10
}

@media (min-width:979px) {
    .carousel .item {
        height: 527px
    }

    .carousel .item.normal {
        height: auto
    }
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 527px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 800px;
    padding: 0 20px;
    margin-top: 200px
}

.carousel-caption h1, .carousel-caption .lead {
    margin: 0;
    line-height: 100%;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4)
}

.carousel-caption .btn {
    margin-top: 10px
}

.carousel-indicators {
    bottom: 1em;
    top: auto
}

@media (max-width:979px) {
    .carousel-caption {
        background-color: #fff
    }

    .carousel-caption h1, .carousel-caption p, .carousel-caption .lead {
        color: black
    }

    .carousel-control {
        display: none;
        overflow: hidden
    }
}

@media (max-width:480px) {
    .carousel-caption {
        margin-top: 120px
    }
    .carousel-inner {
        width: 100%;
    }
}

.carousel {
    position: relative;
    top: -11px;
    width: 100%;
    height: 500px;
}

.carousel {
    position: relative;
    //margin-bottom: 20px;
    line-height: 1
}

.carousel-inner {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 527px;
}

.carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: .6s ease-in-out left;
    -moz-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    line-height: 1
}

.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block
}

.carousel-inner > .active {
    left: 0
}

.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner > .next {
    left: 100%
}

.carousel-inner > .prev {
    left: -100%
}

.carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 0
}

.carousel-inner > .active.left {
    left: -100%
}

.carousel-inner > .active.right {
    left: 100%
}

.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .5;
    filter: alpha(opacity=50)
}

.carousel-control.right {
    left: auto;
    right: 15px;
    text-decoration: none;
}

.carousel-control.left {
    text-decoration: none;
}


.carousel-control:hover, .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90)
}

.carousel-indicators {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
    margin: 0;
    list-style: none
}

.carousel-indicators li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #ccc;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px
}

.carousel-indicators .active {
    background-color: #fff
}

.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: #333;
    background: rgba(0, 0, 0, 0.75)
}

.carousel-caption h4, .carousel-caption p {
    color: #fff;
    line-height: 20px
}

.carousel-caption h4 {
    margin: 0 0 5px
}

.carousel-caption p {
    margin-bottom: 0
}

.carousel-caption {
    position: static
}

.carousel .container {
    position: relative;
    z-index: 9
}

.carousel-control {
    margin-top: 40px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    z-index: 10
}

@media (min-width:979px) {
    .carousel .item {
        height: 500px
    }

    .carousel .item.normal {
        height: auto
    }
    .carousel-inner {
        width: 100%;
    }
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 800px;
    padding: 0 20px;
    margin-top: 200px
}

.carousel-caption h1, .carousel-caption .lead {
    margin: 0;
    line-height: 100%;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4)
}

.carousel-caption .btn {
    margin-top: 10px
}

.carousel-indicators {
    bottom: 1em;
    top: auto
}

@media (max-width:979px) {
    .carousel-caption {
        background-color: #fff
    }

    .carousel-caption h1, .carousel-caption p, .carousel-caption .lead {
        color: black
    }

    .carousel-control {
        display: none;
        overflow: hidden
    }
}

@media (max-width:480px) {
    .carousel-caption {
        margin-top: 120px
    }
}
