@import url("carousel.css");
/*@import url("../menu.css");*/
html, body, header {
    padding: 0px;
    margin: 0px;
}

#top_box {
    background-color: black;
    height: 35px;
    width: 100%;
    margin-bottom: 40px;
    /*margin-left: 0px;
    padding: 0px; */
}

.fixMenu {
    position: fixed;
    top:-16px;
    left:0px;
    width: 100%;
}

.login {
	float: right;
	margin-right: 10px;
    position: relative;
    top: 3px;
    color: white;
    font-family: "Comic Sans MS", "Arial Black", Arial, "Helvetica Neue";
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
}

/*.fixNotification .login {
    margin-right: 20px;
    position: fixed;
    top: 2px;
    right: 20px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}*/

/*
.hover:hover {
    background-color: rgba(0,0,0,0.7);
    height: 115px;
    position: relative;
    top:-36px;
}

.hover:hover a {
    position: relative;
    top: 36px;
}*/

#logo {
	float: left;
	position: relative;
    margin-left: auto;
	margin-top: -140px;
    min-width: 320px;
    min-height: 240px;
    width: 400px;
    height: 300px;
}

#onglet
{
	float: left;
	position: static;
	margin-top: -25px;
}

#button {
    margin-top: 6px;
    margin-left: 2px;
    height: 30px;
    line-height: 30px;
}

#button input {
    text-align: center;
    font-family: "Comic Sans MS", "Arial Black", Arial, "Helvetica Neue";
    font-weight: 600;
    font-size: larger;
    height: 30px;
    line-height: 30px;
    padding-top: 6px;
    padding-bottom: 0px;
}

#menu ul {
    position: relative;
    left: 400px;
    top: -66px;
}

#menu ul .hover {
    list-style: none;
    overflow: hidden;
}

#bandeau {
    background-color: black;
    width: 100%;
    height: 35px;
    position: relative;
    top:75px;
    z-index: 1;
}

#menu .ombre {
    float: right;
    position: inherit;
    font-family: "Comic Sans MS", "Arial Black", Arial, "Helvetica Neue";
    font-size: 26px;
    font-weight: 800;
    color: black;
    height: 115px;
    line-height: 115px;
}

#menu ul li a {
    text-decoration: none;
    color: black;
}

#menu .ombre:hover {
    background-color: rgba(0,0,0,0.7);
}

#menu .ombre:hover a {
    color: white;
}

#menu ul li ul {
    display: none;
    background-color: rgba(0,0,0,0.7);
    width: 294px;
    height: auto;
    overflow: auto;
    color: white;
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    z-index: 99;
    padding-bottom: 5px;
}

#menu ul li ul li {
    font-weight: 300;
    font-size: medium;
    font-family: "Comic Sans MS", "Arial Black", Arial, "Helvetica Neue";
    height: 32px;
    list-style: none;
    position: relative;
    top: -40px;
}

.items {
    padding: 0px 30px 0px 30px;
}

.ville , .cat{
    width: 120px;
    height: 25px;
}

#menu-column-1 {
    float: right;
    padding-right: 15px;
}

#menu-column-2 {
    float: left;
    border-right: 1px solid white;
    padding: 0px 13px 0px 10px;
}

#icones img {
    width: 32px;
    height: 32px;
    float: right;
    position: relative;
    top: -30px;
    right: 20px;
    border-radius: 5px;
}

/*
@media (min-width: 1024px) {
    #menu ul > li {
        float: left;
        clear: both;
    }
}*/

/*
@media (min-width: 480px) and (max-width: 1024px) {
    
}*/

/*
@media (max-width: 480px){

}*/