@import url("header.css");

.logplace
{
  margin-right: auto;
  margin-left: auto;
}


body 
{
  font-family: Arial;
}

#panel
{
  margin: 50px;

}

.login-screen
{
  background-color: #FFF;
  padding: 20px;
}

.app-title
{
  text-align: center;
  color: #777;
}

.app-tittle p
{
  font-size: 2em;
  position: absolute;
}

.login-form
{
  text-align: center;
}

.control-group
{
  margin-bottom: 10px;
}

input
{
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

input:focus
{
  border: 2px solid #3498DB;
  box-shadow: none;
}

.log
{
  border: 2px solid transparent;
  background: rgb(9, 96, 125);
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.log:hover
{
  background-color: rgb(106, 162, 175);
}

.login-link
{
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}