div
{
  display: block;
}

body
{
  text-align: center;
}

/*header*/

#first_topbox
{
  width:1170px;
  height: 20px;
  background: rgb(9, 96, 125);
  margin: auto;
}

#first_topbox p
{
  font-size: 15px;
  color: #000;
  font-family: arial;
  padding-bottom: 20px;
}

.login
{
  float: right;
  width: auto;
  margin-right: 10px;
}

#logo img
{
  margin: 5px;
  float: left;
  width:  138.875px;
  height: 48.75px;
}

#topbox
{
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  height: 50px;
}

#banniere
{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  height: 550px;
  background: url('images/back.jpg') no-repeat;
}

nav a .panier
{
  position: relative;
  top: -65px;
  left: -30px;
  float: right;
}

nav a .user
{
  position: relative;
  top: -65px;
  left: -10px;
  float: right;
}

nav a .panier img, nav a .user img
{
  width: 32px;
  height: 32px;
}

a
{
  text-decoration: none;
  display: block; 
  color: #fff;
}

nav
{
  font-family: arial;
  font-size: 1.5em;
}
nav ul 
{
  text-transform: uppercase;
}
nav ul li 
{
  
  display: inline-block;
  margin-right: 0px;
  position: relative;
  padding: 10px 20px 10px;
  background: #fff;
}

nav ul li:hover
{
  background: #555;
  color: #fff;
}
nav ul li ul
{
  z-index: 2;
  font-size: 0.5em;
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 196px;
  opacity: 0.5;
  visibility: hidden;
}

nav ul li ul li
{
  background: #555;
  display: block; 
  color: #fff;
}

.menu, .categorie
{
  position: relative;
  color: #000;
}

.menu:hover
{
  background: #555;
  color: #fff;
}

.categorie:hover
{
  background: #555;
  color: #fff;
}

nav ul li ul li:hover
{
  background: #666;
}
nav ul li:hover ul
{
  display: inline;
  opacity: 0.7;
  visibility: visible;
}

 #copyright_text
{
  font-family: arial;
  text-align: center;
  right: -15px;
}
